{% include 'header.html' %}
<style>
    @keyframes spin {
        from{transform: rotateY(0deg);}
        to{transform: rotateY(-360deg);}
    }
    .contain{
        display:flex;
        height:100vh;
    }
   .square{
       height:100px;
       width: 100px;
       border:1px solid #666;
       margin:auto;
       background:dodgerblue;
       {#border-radius: 50%;#}
       transition: all ease 1s;
       color: #fff;
       perspective: 1200px;
   }
    .square:hover{
        animation-name:spin;
        animation-iteration-count:infinite;
        animation-duration: 6s;

    }
</style>
<body>
    <div class="container contain">
        <div class="square">

        </div>
    </div>
</body>